@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --darkestGrey: #212121;
  --darkGrey: #474747;
  --mediumGrey: #c9c9c9;
  --lightGrey: #ececec;
  --whiteGrey: #ffffff;
  --glowBlue: rgba(66, 155, 245, 0.5);
  --solidBlue: rgba(66, 155, 245, 1);
  --darkBlue: rgb(30, 126, 221);

  background-color: var(--lightGrey);
  color: var(--darkestGrey);
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
